
@import 'general.css';


/*//////////////////////////////////////////*/

p{
  font-size:1.5em;
  line-height:1.5em;
}


#nav{
  display: none;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.35);
  box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.35);
}

#nav h1{
  font-size:2em;
}

#logo-title{
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  width:100vw;
  -webkit-align-items: center;
  align-items: center;
}

#logo{
  height:100px;
}

#header {
  height: calc(100vh);
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color:white;
  background: linear-gradient(#47BDA5,#2A8C71);
  text-align:center;
  
}

#header a{
  color:white;
}

#back{
  position:absolute;
  left:20px;
  top:20px;
}

#back img{
  height:16px;
  transform: rotate(-90deg);
}

#header *{
  max-width:700px;
}

#header-logo-title{
  margin-bottom:30px;
}

#header-logo-title img{
  height:300px;
  margin-bottom:-50px;
}

#down-arrow{
  height:20px;
  position:absolute;
  bottom:20px;
  transform: rotate(180deg);
}

h2{
  font-family:primaryFont-med;
}

.point{
  display: flex;
  -webkit-align-content: center;
  align-content: center;
}

.point.right{
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.point.left{
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  text-align:left;
}

.point.left img{
  float:right;
}

.point-img{
  width:50vw;
}

.point-img img{
  float:left;
}

.point-text{
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding:0px;
  max-width:500px;
}

.point-text h2{
  margin-bottom:20px;
}

.screens-section{
  margin:50px 0px;
  text-align:center;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}

.screens-section h2{
  margin-bottom:20px;
}

.screens-section p{
  margin-bottom:50px;
  max-width:1000px;
}

.imgs-grid{
  max-width:1000px;
}

.screens-section img{
  width:250px;
  margin:15px;
  -webkit-box-shadow: -24px 34px 113px -7px rgba(0,0,0,0.27);
  -moz-box-shadow: -24px 34px 113px -7px rgba(0,0,0,0.27);
  box-shadow: -24px 34px 113px -7px rgba(0,0,0,0.27);
  margin-bottom:20px;
}

#footer{
  height:300px;
  color:white;
  background:#32383B;
  padding:50px 100px;
  display: flex;
  text-align: center;
  align-items:center;
  -webkit-justify-content: center;
          justify-content: center;
}

.download-btns a{
  display: inline-block;
  margin:10px 10px;
  width:150px;
  
}
/* ///////////////////////// MEDIA QUERIES //////////////////// */

/* // Small devices ( portrait mobiles ) */
@media (max-width: 576px) {
  #back span {
    display: none;
  }

  .point{
    flex-direction:column;
  }
}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}